.container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pane {
  /* --margin: 1em; */
  /* margin: 0em; */
  /* max-width: 100%; */
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;
  margin: var(--margin);

  height: 20em;
  /* width: 65ch; */
  /* min-width: min(65ch, max(100% - 2 * var(--margin), 50%)); */

  min-width: 52ch; /* prevent linebreaks in encrypted text */
  width: calc((100% - 1em)/2);
}

.pane:first-child {
  margin-right: 1em;
}
.textarea {
  height: 20em;
  width: 100%;
  padding: 0.3em;
}

.error,
.error[readonly] {
  background-color: #e18a81;
}
@media (min-width: 1024px) {
  .textarea {
    /* max-width: 50%;
    width: 50%; */
  }
}
