.container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pane {
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;

  min-width: min(52ch, 100%); /* prevent linebreaks in encrypted text */
  width: calc((100% - 1em) / 2);

  margin-left: 0.25em;
  margin-right: 0.25em;
}

.textarea {
  height: 20em;
  width: 100%;
  padding: 0.3em;
  resize: vertical;
}

.error,
.error[readonly] {
  background-color: #e18a81;
}
